.App {
  background-color: #eaeaea;
  margin: 50px 150px 50px 150px;
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
  height: fit-content;
  min-width: 300px;
}

#form1 {
  text-align: center;
}

.p {
  background-color: #b16565;
}

.ex1 {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

#input1 {
  border-radius: 20px;
  border-color: white;
  height: 40px;
  width: 200px;
  margin: 20px 0 20px 0;
}

#input2 {
  border-radius: 20px;
  height: 40px;
  width: 200px;
  border: 0;
  margin-left: 30px;
  margin-top: 30px;
  outline: none;
}

.ex2 {
  height: 220px;
  max-width: 600px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

#div1 {
  margin-top: 80px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colors {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.colors:hover {
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
}

.colors:active{
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 15px;
}

#color1 {
  background-color: purple;
}

#color2 {
  background-color: pink
}

#color3 {
  background-color: orange;
}

#color4 {
  background-color: blue;
}

#colorsSpan {
  display: inline-flex;
  justify-content: space-around;
  width: 300px;
}

span {
  display: inline-block;
}

.myButton {
  color: white;
  background-color: green;
  font-size: 19px;
  line-height: 19px;
  padding: 12px;
  border-radius: 17px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  border: none;
  display: inline-block;
  margin-right: 30px;
}

.myButton:hover {
  background: #1C6EA4;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
}

.myButton:active {
  background: #144E75;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 15px;
}

.notesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.notes {
  background-color: pink;
  height: 90px;
  width: 200px;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px;
}